<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PostMapper">

	<insert id="postAdd" parameterType="PostDTO">
	insert into post 
	(userid, type, gamename, servername, category, amount,
	 price, title, content, charactername, regdate)
	values
	( #{userid}, #{type}, #{gamename}, #{servername},
	 #{category}, #{amount},
	 #{price}, #{title}, #{content}, #{charactername}, sysdate())
	</insert>

	<insert id="insertFile" parameterType="HashMap">
		insert into post_file(
			no,
			org_file_name,
			stored_file_name,
			file_size,
			regdate
		)values(
			(select max(no) from post),
			#{ORG_FILE_NAME},
			#{STORED_FILE_NAME},
			#{FILE_SIZE=100943},
			sysdate()
		)		
	</insert>
	
	<select id="postfilename" parameterType="int" resultType="String">
	select stored_file_name
	from post_file
	where no = #{no}
	</select>
	
	<select id="selectSize" resultType="int">
		select count(no) from post
	</select>
	
	<select id="postListAll" resultType="PostDTO">
	SELECT @ROWNUM := @ROWNUM +1 AS ROWNUM,
	P.*
    FROM POST P,(SELECT @ROWNUM := 0 ) TMP
    WHERE TYPE NOT IN ('거래중')
    order by NO desc;
	</select>
	
	<select id="postOverview" parameterType="int" resultType="PostDTO">
	select * from post
	where no = #{no}
	</select>
	
	<update id="postUpdate" parameterType="PostDTO">
	update post
	set gamename = #{gamename},
	servername = #{servername},
	category = #{category},
	amount = #{amount},
	price = #{price},
	title = #{title},
	content = #{content},
	charactername = #{charactername},
	regdate = sysdate()
	where no = #{no}
	</update>
	
	<delete id="postDelete" parameterType="int">
	delete from post
	where no = #{no}
	</delete>
	
	<select id="select_userid" parameterType="int" resultType="String">
	select userid
	from post
	where no = #{no}	
	</select>
	
	<update id="post_trade_type" parameterType="HashMap">
	update post
	set type = #{type}
	where no = #{no}
	</update>
	
	<select id="select_traded" parameterType="String" resultType="PostDTO">
	select * from post
	where userid = #{userid}
	and type = '거래완료'
	</select>
	
	<select id="select_traded_buyer" parameterType="List" resultType="PostDTO">
	select * from post
	where type = '거래완료' and
	no IN
		<foreach collection="list" item="num" open="(" close=")" separator=",">
			#{num.value}
		</foreach>
	</select>
	
	<select id="search_name" parameterType="String" resultType="PostDTO">
	select * from post
	where gamename like CONCAT('%',#{name},'%')
	or
	servername like CONCAT('%',#{name},'%')
	and
	type NOT IN ('거래중')
	</select>
	
	<select id="select_myTrading" parameterType="String" resultType="PostDTO">
	select * from post
	where userid = #{userid}
	and
	type = '거래중'
	</select>
</mapper>